body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: white;
}

main {
    width: 70%;
    margin: 0 auto;   
    text-align: center;
}

header {
    background-color: #8B0000;
    padding: 20px;
    text-align: center;
}

.imagens {
    margin: 30px 0;
}

.imagens img {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}

.descricao {
    margin: 40px 0;
}

.noticias {
    margin-top: 40px;
}

.noticia {
    background-color: #1c1c1c;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
}

hr {
    width: 60%;
    border: 1px solid #8B0000;
}

/* Links */
a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #8B0000;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}